# Ignore build directories
build
CMakeFiles/
CMakeCache.txt
Makefile
*.cmake
makefile

# Ignore executables and libraries
*.exe
*.out
*.a
*.lib
*.so
*.dylib

# Ignore object files
*.o
*.obj
*.lo
*.la

# Ignore temporary files
*.tmp
*.temp
*.log
*.swp
*.swo
dist
log
datas
*.sh

# Ignore dependency files
*.d

# Ignore VSCode settings
.vscode/
*.code-workspace

# Ignore backup files
*.bak
*~

# Ignore macOS specific files
.DS_Store

# Ignore Windows specific files
Thumbs.db
desktop.ini